* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: azure;
}

ul,
li {
    list-style: none;
}

nav {
    background-color:firebrick;
}

body {
    background-color:peru;
}

footer {
    background-color:black;
}

h1 {
    padding: 30px;
    background-color: hsla(12, 83%, 20%, 0.878);
    color:white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: center;
}

/* ================================================================================================
                                            PAGE INICIO 
   ================================================================================================

   ===================================================
   ================== LOGO =========================== 
   =================================================== */

.logo__contenedor{
    height: 25vh;
    padding: 7px;
    display: flex;
    justify-content: center;
}
/* ===================================================
   ===================================================


   ===================================================
   ================ barra de navegacion ==============
   =================================================== */

.navbar ul {
    overflow: hidden;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
  }
  
.navbar  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
  }
  
.navbar li a:hover {
    background-color:white;
    color: black;
}
  
.navbar__lista {
    display: flex;
    justify-content: center;
    font-family: "Sofia", sans-serif;
    gap: 70px;
}
/* ===================================================
   ===================================================


   ===================================================
   ================  MAIN - BODY  ====================
   =================================================== */

.contenedor__galeria {
    padding: 20px;
    background-image: url(../img/fondo.webp);
    background-repeat: no-repeat;
    background-size: cover;
}

.galeria{
    display: flex;
    justify-content:space-evenly;
    padding: 40px;
}

.galeria img {
    width: 20%;
    border-radius: 10px;
    height: auto;
}

.galeria img:hover {
    transition:all .5s ease-in-out;
    box-shadow: 0 0 2px 10px white;
    filter:grayscale(35%);
}
/* ================================================================================================
   ================================================================================================




   ================================================================================================
                                          PAGE PRODUCTOS 
   ================================================================================================
  
   ===================================================
   =================  MAIN - BODY  ===================
   =================================================== */

.contenedor__main {
    background-image: url(../img/fondo.webp);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 30px;
}

.contenedor__img {
    background-color: white;
    border-radius: 15px;
    gap: 10px;
}

.contenedor__img label{
    background-color: black;
    border-radius: 15px;
}

.grid__container {
    display: grid;
    justify-content: center;
    padding: 20px;
    grid-template-rows: 400px 400px 400px;
    grid-template-columns: 400px 400px 400px;
    gap: 15px;
}
  
.grid__container div {
    display: grid;
    align-content: center;
    justify-content: center;
    text-align: center;
    font-size: 30px;
}

.grid__container img {
    width: 300px;
    height: auto;
    border-radius: 15px;
}
  
div label{
    display: flex;
    justify-content: center;
    color: white;
    padding: 20px;
}

/* ===================================================
   ===================================================


   ===================================================
   =========== CONTENEDOR AMARILLO ===================
   =================================================== */

.iconos__contenedor {
    background-color: gold;
    border-radius: 80px;
}

.iconos {
    display: flex;
    justify-content: space-around;
    height: 55px;
}

.texto__iconos{
    display: flex;
    justify-content: space-around;
    color: black;
}

/* ================================================================================================
   ================================================================================================



   ================================================================================================
                                    PREGUNTAS FRECUENTES
   ================================================================================================
  
   ===================================================
   =================  MAIN - BODY  ===================
   =================================================== */

   .contenedor__pf {
        background-image: url(../img/fondo__preguntass.webp);
        background-repeat: no-repeat;
        background-size: cover;
        padding: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;

   }

   .contenedor__pg {
        background-color: hsl(235, 58%, 28%, 0.8015);
        padding: 20px;
   }

   .contenedor__pg {
        color: white;
}
   

/* ================================================================================================
   ================================================================================================

   
   
   ================================================================================================
                                          PAGE CONTACTO                  
   ================================================================================================ */

.contenedor__cg {
    background-image: url(../img/fondo__lcl.webp);
    padding: 20px;
}

.contacto__galeria {
    display: flex;
    justify-content: center;
    padding: 15px;
    gap: 30px;
}

.contacto__galeria img{
    width: 30%;
}

.local__ubicacion {
    display: flex;
    justify-content: center;
    padding: 15px;
}

.contenedor__cg label{
    background-color: hsla(12, 83%, 20%, 0.700);
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: center;
    padding: 40px;
}
/* ================================================================================================
   ================================================================================================



   ================================================================================================
                                             FOOTER  
   ================================================================================================ */

.footer__enlaces li a:hover {
    color:#cd486b;
}

.footer__enlaces {
    padding: 17px;
    line-height: 30px;
}

/* ==============================================================
   =========== ICONOS FACEBOOK INSTAGRAM WHATSAPP =============== 
   ============================================================== */

ul.socialIcons {
        padding: 0;
        text-align: center;
}
      
.socialIcons li {
    background-color: yellow;
    list-style: none;
    display: inline-block;
    margin: 4px;
    border-radius: 2em;
    overflow: hidden;
}
      
.socialIcons li a {
    display: block;
    padding: 0.5em;
    min-width: 2.2em;
    max-width: 2.2em;
    white-space: nowrap;
    line-height: 1.5em; /*it's working only when you write text with icon*/
    transition: 0.5s;
    text-decoration: none;
    font-family: arial;
    color: #fff;
}
      
.socialIcons li i {
    margin-right: 0.5em;
}
      
.socialIcons li:hover a {
    max-width: 200px;
    padding-right: 1em;
}
      
.socialIcons .facebook {
    background-color: #3b5998;
    box-shadow: 0 0 16px #3b5998;
}
    
.socialIcons .instagram {
    background-color: #cd486b;
    box-shadow: 0 0 16px #cd486b;
}
    
.socialIcons .whatsapp {
    background-color: #15f630b8;
    box-shadow: 0 0 16px #15f630b8;
}

/*  ===============================================================================================
    =============================================================================================== */



/* ================================================================================================
                                            RESPONSIVE                              
   ================================================================================================ */

@media (max-width: 768px) {

    .navbar__lista {
        display: flex;
        justify-content: center;
        font-size: 10px;
        gap: 5px;
    }

    .navbar li a:hover {
        background-color:white;
        color: black;
    }

    .galeria {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .galeria img {
        border-radius: 10px;
        width: 220px;
    }

    .contenedor__galeria {
        background-image: url(../img/fondo.webp);
        background-size: cover;
        background-attachment: fixed;
        background-size: cover;
    }


    /*==============================================
                   PAGE PRODUCTOS
      ==============================================*/

    .contenedor__main {
        padding: 20px;
        background-image: url(../img/fondo.webp);
        background-size: cover;
        background-attachment: fixed;
        background-size: cover;
    }

    .contenedor__img {
        padding: 20px;
    }

    .grid__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    /* ============================================= */ 


    .iconos__contenedor {
        background-color: rgba(211, 192, 22, 0.723);
        border-radius: 15px;
        background-size: 5px;
        height: 120px;
    }
    
    .iconos {
        display: flex;
        justify-content: space-around;
        height: 57px;
    }

    .texto__iconos label{
        color: black;
        font-size: small;
    }

    /* ========================================================
                        CONTACTO                  
       ======================================================*/

       .contacto__galeria {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contacto__galeria img{
        height: 90%;
        width: 80%;
    }

    .footer__enlaces {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}