* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

a {
    color: azure;
    text-decoration: none;
}

ul,
ol {
    list-style: none;
}

header{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px;
}

body {
    width: 100%;
    height: 100vh;
    background: url(../images/fondo.jpg) no-repeat;
    /*background-size: cover;
    background-position: center;*/
}

.header__logo {
    width: 180px;
    height: 180px;
}

.logo {
    height: 50px;
}

.navbar{
    display: flex;
    align-items: center;
    font-size: 120%;
    padding: 7px;
    background-color: rgb(194, 68, 26);
    
    display: flex;
    justify-content: space-around;

}

.navbar__list {
    display: flex;
    gap: 60px;
}

.buscador {
    border-radius: 5px;
    font-size: 70%;
}

.contactenos {
    display: flex;
    justify-content: space-between
}

.derechos {
    display: flex;
    justify-content: center;
}

.galeria__contenedor {
    
    display: grid;
    
    justify-items: center;
    align-items: center;

}

.galeria__images {
    display: grid;

    padding: 30px;
    grid-gap: 40px;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 300px 300px 300px;
}

.galeria__images img{

    height: 300px;
    
    width: 300px;
    
    object-fit: cover;
}

.contenedor__ubicacion {
    display: flex;
    padding: 20px;
    background-color: white;
}

.ubicacion {
    padding: 50px;
    justify-content: center;
    align-content: center;
}

.ubicacion img {
    padding: 20px;

    height: 400px;
    
    width: 400px;
    
    object-fit: cover;
}

@media (max-width: 767px) {
    
    body{
        background: url(../images/fondo.jpg);
        background-size: cover;
    }

    .header__logo {
        width: 90px;
        height: 90px;
    }

    .logo {
        height: 30px;
    }

    .galeria__images{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .foto {
        width: 90%;
        height: 30vh;
    }

    .navbar{
        display: flex;
        align-items: center;
        background-size: cover;
        
        display: flex;
        justify-content: space-around;
    }
    
    .navbar__list {
        display: flex;
        font-size: 8px;
        padding: 0 8px;
        background-size: cover;
    }

    .contenedor__ubicacion {
        padding: 5px;
        background-color: white;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-content: center;
    }
    
    .contenedor__ubicacion h2{
        font-size: 15px;
    }

    .ubicacion {
        padding: 50px;
    }
    
    .ubicacion img {
        padding: 20px;
    
        height: 200px;
        
        width: 200px;
        
        object-fit: cover;
    }

    .ubicacion iframe {
        height: 300px;
        
        width: 300px;
    }
}
